{% extends "pokedex/base.html" %}

{% block title %}
    Pokemons | Pokedex
{% endblock %}

{% block content %}
    {% if pokemons %}
        <div class="mb-4">
            {% include 'pokedex/pokemon_type_filter.html' %}
        </div>
        <div class="pokemon-grid">
        {% for pokemon in pokemons %}
                <div class="pokemon-box">
                    <a href="{% url 'pokedex:pokemon-detail' pokemon.pk %}">
                        <div class="pokemon-pokedex-number">[{{ pokemon.nationalPokedexNum }}]</div>
                        <div class="pokemon-name">{{ pokemon.name | capfirst }}</div>
                        {% if pokemon.sprite_slug %}
                            <img src="{{ pokemon.sprite_slug }}">
                        {% else %}
                            <div class="no-sprite">[no pic.]</div>
                        {% endif %}
                    </a>
                    <div class="types">
                        {% for type in pokemon.types.all %}
                            <span class="pokemon-type {{ type.name }}">{{ type.name }}</span>
                        {% endfor %}
                    </div>
                </div>
        {% endfor %}
        </div>
    {% else %}
    <h1>No pokemons :(</h1>
    {% endif %}
{% endblock %}
