<div id="navbar" class="mb-4">
    <div id="nav-left">
        <a class="nav-link" href="{% url 'pokedex:index' %}"><b>Pokedex</b></a> |
        <a class="nav-link" href="{% url 'pokedex:pokemon-create' %}">Create a Pokemon!</a>
    </div>
    <div id="nav-right">
        {% if user.is_anonymous %}
            <a class="nav-link" href="{% url 'pokedex:register' %}">Register</a>
            <a class="nav-link" href="{% url 'pokedex:login' %}">Login</a>
        {% elif user.is_authenticated %}
            <span>Logged in as: <b>{{ user.username }}</b></span> |
            <form action="{% url 'pokedex:logout' %}" method="post">
                {% csrf_token %}
                <input class="plain-btn" type="submit" value="logout" >
            </form>
        {% endif %}
    </div>
</div>
