{% extends "pokedex/base.html" %}

{% block title %}
    {{ pokemon.name | capfirst }} Details | Pokedex
{% endblock%}

{% block content %}
    <div class="flex-col-center">
        <h1>[{{ pokemon.nationalPokedexNum }}] {{ pokemon.name | capfirst }}</h1>
        {% if pokemon.sprite_slug %}
            <img src="{{ pokemon.sprite_slug }}">
        {% else %}
            <div class="no-sprite outline">[no pic.]</div>
        {% endif %}

        <h2>Type</h2>
        <div>
            {% for type in pokemon.types.all %}
                <span class="pokemon-type {{ type.name }}">{{ type.name }}</span>
            {% endfor %}
        </div>

        <h2>Abilities</h2>
        <div class="flex-col-center">
            {% for ability in pokemon.abilities.all %}
                <span>{{ ability.name | capfirst }}</span>
            {% endfor %}
        </div>

        <h2>Stats</h2>
        <div class="mb-4">
            {% for stat in pokemon.stats.all %}
                {{ stat.name }}: <b>{{ stat.base_stat }}</b>
            {% endfor %}
        </div>

        <a class="mb-2" href="{% url 'pokedex:index' %}">home</a>

        <div>
            {% if user.is_anonymous %}
                <a class="mb-2" href="#">edit</a>
                <span>(login required)</span>
            {% elif user.is_authenticated %}
                <a class="mb-2" href="{% url 'pokedex:pokemon-edit' pokemon.pk %}">edit</a>
            {% endif %}
        </div>

        <div>
            {% if user.is_anonymous %}
                <input class="plain-btn" type="submit" value="delete">
                <span>(login required)</span>
            {% elif user.is_authenticated %}
                <form action="{% url 'pokedex:pokemon-delete' pokemon.pk %}" method="post">
                    {% csrf_token %}
                    <input class="plain-btn" type="submit" value="delete">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
