:root {
    --pokemon-box-size: 180px;
}

body {
    font-family: monospace;
    padding: 0 4rem;
}

/*  */
.mt-2 { margin-top: 0.5rem; }
.mt-4 { margin-top: 1.0rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-4 { margin-bottom: 1.0rem; }
.outline {outline: 1px solid gray;}
.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* index page */
.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--pokemon-box-size), 1fr));
    grid-gap: 12px;
    text-align: center;
}

.pokemon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--pokemon-box-size);
    outline: 2px solid lightgreen;
    border-radius: 4% 20%;
    transition: 200ms all;
}

.pokemon-box:hover {
    background: lightgreen;
    outline: 8px solid lightgreen;
}

.pokemon-box a {
    overflow-wrap: anywhere;
    color: #444;
    text-decoration: none;
}

.pokemon-name {
    font-weight: bold;
}

.no-sprite {
    width: 96px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-type {
    padding: 2px 8px;
    border-radius: 4px;
}


.normal {
    background: #a8a77a;
}

.fire {
    background: #ee8130;
}

.water {
    background: #6390f0;
}

.electric {
    background: #f7d02c;
}

.grass {
    background: #7ac74c;
}

.ice {
    background: #96d9d6;
}

.fighting {
    background: #c22e28;
    color: white;
}

.poison {
    background: #a33ea1;
    color: white;
}

.ground {
    background: #e2bf65;
}

.flying {
    background: #a98ff3;
}

.psychic {
    background: #f95587;
}

.bug {
    background: #a6b91a;
}

.rock {
    background: #b6a136;
}

.ghost {
    background: #735797;
    color: white;
}

.dragon {
    background: #6f35fc;
    color: white;
}

.dark {
    background: #705746;
}

.steel {
    background: #b7b7ce;
}

.fairy {
    background: #d685ad;
}

/* navbar */
#navbar {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: inherit;
}

#navbar form {
    display: inline;
}

.plain-btn {
    background: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    text-decoration: underline;
    cursor: pointer;
}
